<% provide(:title,"About") %>
<div class="center jumbotron">
	<h1>Welcome to the About Sanple App</h1>
	<h2>
		Rails Tutorial : <a href="http://www.railstutorial.org/"><em>http://www.railstutorial.org/</em></a><br />
		Rails Tutorial Book : <a href="http://www.railstutorial.org/book"><em>http://www.railstutorial.org/book</em></a><br />
		Screencast Series : <a href="http://screencasts.railstutorial.org/"><em>http://screencasts.railstutorial.org/</em></a><br />
		Ruby on Rails : <a href="http://rubyonrails.org/"><em>http://rubyinrails.org/</em></a>
	</h2>
</div>