<% provide(:title,"Contact")%>
<div class="center jumbotron">
	<h1>Welcome to the Contact Sample App</h1>
	<h2>You can contact me via email:<a href="https://github.com/tranxuandien">https://github.com/tranxuandien</a></h2>
</div>